[defaults]
inventory = inventory/hosts.yml
private_key_file = admin_key
host_key_checking = False

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o ControlMaster=auto -o ControlPersist=60s
